[2017-03-31 20:27] svenluijten opened #1 "SSL certificate problem"
Heya 🙂

I know the lib is still in beta / not even 1.0.0, but I figured I'd give it a shot and I'm immediately encountering the infamous Guzzle error:

[code]

Can this be resolved in the scope of this package or should something be done on my end to make it work?

Thanks!

[2017-03-31 20:34] svenluijten commented on #1
And since the version of Guzzle we're using in this package doesn't support the `->setDefaultOptions()` version anymore, I can't swap out the Guzzle instance with it configured to not check for SSL certificates either 😕

[2017-03-31 20:42] svenluijten commented on #1
Okay, this was an issue on my end. I fixed it by downloading [this file](https://curl.haxx.se/ca/cacert.pem) and configuring PHP to use it in CURL requests via the `php.ini` file:

[code]

[2017-03-31 20:42] #1 closed

[2017-04-02 13:25] svenluijten opened #5 "Blackfire inconsistencies"
I noticed there's no way to remove Blackfire from the server as it stands, but [the API documentation](https://forge.laravel.com/api-documentation#remove-blackfire) does mention it.

When I wanted to add the function and send in a PR (#4), I noticed some little inconsistencies in the Forge docs _or_ this package. The `installBlackfire()` method makes a `POST` request to `/servers/$serverId/blackfi

[2017-04-03 16:20] themsaid commented on #5
Thank you, I've added the fixes to the laravel Forge API docs :)

[2017-04-03 16:20] #5 closed

[2017-04-03 16:33] svenluijten commented on #5
Thanks! 😬

On Mon, Apr 3, 2017, 6:20 PM Mohamed Said <notifications@github.com> wrote:

--

Sven Luijten | *https://svenluijten.com <https://svenluijten.com>*

[2017-04-14 06:34] vesper8 opened #13 "shouldn't $forge->runRecipe($recipeId); include a way to pass server ids?"
Just wondering how you can run a recipe on a specific server or set of servers

in the api docs the payload is described as
[code]

but according to your docs the runRecipe() only accepts a recipeId?

[2017-04-14 06:36] vesper8 opened #14 "rate limiting (too many attempts)"
I've written a script that basically exports everything from the forge api and stores it in a local database and with 10 servers and 160 sites I am running into the 429 Too Many Attempts error.

However in the api docs I am unable to see anything about a rate limit, and also I don't have experience with setting a rate limit locally so I don't hammer the api.

Any chance you could introduce this? O

[2017-04-16 14:14] jpmurray commented on #13
I haven't tried it yet, but if you look at the usage section, you probably can run recipes like so:

[code]

[2017-04-26 21:46] drbyte opened #15 "Exclude "archived" servers?"
`$forge->servers();` includes "archived" servers.

Perhaps that's because `GET /api/v1/servers` doesn't indicate whether a server is archived vs active?

[2017-04-27 18:34] phppirate commented on #15
Thank You for your interest in Anvil.
This does not seem to be a documented feature yet. Will add it as soon as possible.

[2017-04-28 14:52] themsaid commented on #15
What do you mean by `archived`?

[2017-04-28 15:01] themsaid commented on #15
But you already receive the `revoked` key in the response, if its value is `true` then it's an archived server.

[2017-04-28 15:23] drbyte commented on #15
Okay, thanks. I hadn't associated "revoked" with "archived".  Thanks!

[2017-04-28 15:23] #15 closed

[2017-05-06 04:26] phppirate opened #16 "Reboot Server not found"
I cannot seem to find a way to reboot a server using this SDK.

[2017-05-06 11:49] svenluijten commented on #16
Does `->rebootServer()` not work for you? https://github.com/themsaid/forge-sdk/blob/master/src/Actions/ManagesServers.php#L99-L108 🙂

[2017-05-06 19:50] phppirate commented on #16
I am sure that will work 🙂 but it is not documented. Thank you for pointing it out.

[2017-05-06 19:50] #16 closed

[2017-05-06 21:11] svenluijten commented on #13
@jpmurray no, since recipes can be run on multiple servers at once. Adding it to the `Server` class wouldn't make sense. I've opened a PR (#19) to address this issue 🙂

[2017-05-26 09:59] #13 closed

[2017-05-29 12:26] hugoburguete opened #21 "Running code after site deployment"
I have a deployment script that creates a database with a couple of tables and I was hoping I could run some php code after the deployment to populate those tables. Is there a way to sync to forge's deployment?

[2017-05-29 13:41] svenluijten commented on #21
You could utilize Forge's default deployment script for this. Put the file on your server and call it in the script (`php /path/to/your/file.php`, or any other way 😉).

[2017-05-29 14:43] hugoburguete commented on #21
The only issue with that is that the file will run everytime a deployment is made. I don't want to be adding users everytime I make a code change and deploy it.

[2017-05-30 12:59] themsaid commented on #21
We're planning a post-deployment webhook solution, but no ETA yet :)

[2017-05-30 13:54] johnpbloch commented on #14
The rate limit is 30 requests. I think it's per minute, but it could be per 5 minutes (I haven't done extensive testing).

The forge API sends a response header telling you how many requests you have remaining. If you wanted to get that information, you can pass an instance of guzzle's `HttpClient` as the second argument of the `Forge` class that has some kind of middleware that can keep a timer g

[2017-06-06 10:01] hugoburguete commented on #21
Thanks. Closing ticket

[2017-06-06 10:01] #21 closed

[2017-07-02 17:32] svenluijten opened #26 "Installing certificates inconsistent with API docs"
Installing an SSL certificate accepts a payload (as documented [here](https://forge.laravel.com/api-documentation#install-certificate)), but the SDK [doesn't seem to do so](https://github.com/themsaid/forge-sdk/blob/master/src/Actions/ManagesCertificates.php#L100). I'm unsure whether or not this is an issue with Forge's documentation or an issue on this SDK, I'll let you decide that 😉

Thanks in a

[2017-08-26 17:18] essaaam opened #27 "create site then update site configurations - 502 error"
Hello,

When I make a new site and in the same request edit the new site nginx file I get 502 error :(

I hope you can help me with that

Thanks

[2017-09-19 23:47] vesper8 commented on #14
Thanks a lot for your suggestion! I just implemented something that is working. It's my first time adding a Guzzle middleware. Thanks to this modification I am now able to do a FULL fetch on my 10+ forge servers and get every little detail about each server and each site without running into the rate limiting

In case it helps anyone else, here's a sample of my code

[code]

[2017-09-23 08:25] vesper8 commented on #14
The above method worked well for me as long as I was only using a single queue worker for performing api calls. But as soon as I tried it with multiple workers it collapsed quickly..

I suspect race conditions. I tried other recommended methods of adding rate limiting but none of them work perfectly. I open an issue on the main laravel repo seeking helps from smarter people than myself https://git

[2017-11-26 14:57] acacha commented on #27
Same problem here!

[2017-11-26 15:24] svenluijten commented on #27
Probably because the site is still being made? AFAIK Forge is all queued jobs, so you might be trying to edit a site that doesn't exist yet.

[2017-11-27 17:27] acacha commented on #27
The problem in my case is using Forge SDK commands with wait=true like

[code]

In fact there is no way to execute this commands in my own api call when client I use to execute commands is Guzzle and connection use SSL. It seems Guzzle always get a response without content or a timeout waiting for response.

[2018-01-30 14:02] chiragparekh opened #37 "Having issue running some methods on forge API"
Hi,
I managed to run following methods:

$forge->createSite($server_id,$site_data, true);
$forge->installGitRepositoryOnSite($server_id, $site_id, $repository_data);
$forge->updateSiteDeploymentScript($server_id, $site_id, $content);

But following commands doesn't take any effects. Is there any specific needs to run the following commands:

 $forge->updateSiteEnvironmentFile($server_id, $site_id,

[2018-02-01 14:51] mubeen-gs commented on #37
@chiragparekh I had the same issue. You need to check the `$site->repositoryStatus` and wait until it is `'installed'`, then move on.

Below is an example method that will only continue once the repo has been installed:

[code]

[2018-02-01 15:31] chiragparekh commented on #37
Hi, @mubeen-gs ,

I just checked the code and it solved my issue. Thank you for you help.

I am closing the ticket now.

[2018-02-01 15:31] #37 closed

[2018-02-14 06:11] jclark-mossio commented on #27
I am seeing the same issue

[2018-02-22 16:18] jclark-mossio commented on #26
Ran into the same issue.

[2018-04-11 19:54] chrisvickers commented on #14
I found the limit, Postman has told me i have 60 requests a minute. Kind of seems low as i am also coming into the same problem. I have 4 servers, each with around 160 sites.

Considering this is a paid service i would think being able to handle more than 60 request a minute would be easy to implement by upgrading server infrastructure.

I would prefer not to limit my application speed due to a re

[2018-04-11 21:18] vesper8 commented on #14
@themsaid here https://github.com/laravel/framework/issues/21346#issuecomment-331850513 you said you were going to increase the limit.. but it seems like you never did? It is still capped at 60 / second ?

It would be nice if you increased it, and it would be even nicer if you added some functionality to this package to innately respect this limit

[2018-04-12 06:53] themsaid commented on #14
After discussions with Taylor he decided that the rate limit will remain as is for now, we might increase it in the future but such like any other paid/un-paid service, a rate limit is a must to prevent abusive usage of our APIs.

[2018-04-12 06:53] #14 closed

[2018-04-27 06:26] lancepioch opened #38 "installGitRepository function should have the $wait parameter"
Would you accept a PR on adding this?

Right now I have to manually ensure that the `$site->repositoryStatus !== 'installing'`

[2018-04-27 20:05] lancepioch opened #39 "Optional $apiKey constructor for main Forge class"
The $apiKey in the Forge class constructor should be optional along with having a setApiKey method.

I am working with multiple Forge tokens, so I need to be able to change the api key dynamically.

Let me know if you'll accept a PR for this.

[2018-10-08 10:07] fridzema opened #42 "restart php"
Hello,
Is there a reason why it is not possible to restart the php-fpm service from this sdk?

[2018-11-09 06:33] themsaid commented on #39
just merged that, releasing 2.0 after I test the whole thing :)

[2018-11-09 06:33] #39 closed

[2018-11-09 06:41] themsaid commented on #26
fixed

[2018-11-09 06:41] #26 closed

[2018-11-09 06:43] themsaid commented on #27
please let me know if you're still facing the issue and share more details.

[2018-11-09 06:43] #27 closed

[2018-11-09 06:43] themsaid commented on #38
added

[2018-11-09 06:43] #38 closed

[2018-11-09 06:46] themsaid commented on #42
added

[2018-11-09 06:46] #42 closed

[2018-11-11 13:17] VictorAvelar opened #46 "Create helpers to hold available options."
It is just a personal idea (and preference) to hold all the relevant options inside classes, this gives, at least for me somehow a consistency layer on the right way of passing options as strings to the API.

Given the example on a request for creating a server:

I will like to add classes under the namespace `Themsaid\Forge\Helpers` to hold constants of valid options to pass to the API, as follow

[2018-11-13 08:20] mckayze opened #47 "The given data failed to pass validation."
I keep getting this error when attempting to create a new server on forge using the code below

**The given data failed to pass validation.**

[code]

I can use the following code on the same setup successfully and I don't get this error.

[code]

Not sure why this is happening, if there is any more info you need please ask and i'll provide it.

[2018-11-13 15:07] VictorAvelar commented on #47
@themsaid I think this exposes the reason behind #46 as I think the error is in the AWS region name.

@mckayze can you confirm this using the `/api/v1/regions`endpoint, please?

[2018-11-13 15:12] mckayze commented on #47
@VictorAvelar Ive tried using a mixture of `eu-west-1` / `London`. The documentation on forge isn't very thorough. I read through your issue #46 and looks like a solid idea / way to upgrade the simplicity of this SDK & help people with forge on a whole anyway.

From the `/api/v1/regions` endpoint under london in AWS i get this response

[code]

[2018-11-16 14:05] francisco-ltech opened #48 "installCertificate: The given data failed to pass validation."
Hi there,

I get this error when calling $forge->installCertificate

but not much information is shown about the error: The given data failed to pass validation. {"exception":"[object] (Themsaid\\Forge\\Exceptions\\ValidationException(code: 0): The given data failed to pass validation. at /vendor/themsaid/forge-sdk/src/MakesHttpRequests.php:90)

Error doesn't specify why it failed validation.

I b

[2018-11-16 14:15] KevinBatdorf commented on #48
Just to add, I believe I had the same error when attempting to install WordPress via the API as well. I don't think it gave any extra details either.

[2018-11-16 22:57] barryvdh opened #49 "Start and stop commands"
Is it possible to stop a server without rebooting? And starting it later using a different call? Eg. for scaling extra servers using an API?

[2018-11-26 17:53] themsaid commented on #49
@barryvdh can you explain more?

[2018-11-26 17:56] themsaid commented on #48
Check the exception class `Themsaid\Forge\Exceptions\ValidationException` you will find more details in the $errors property.

[2018-11-26 17:58] themsaid commented on #47
The exception class has more details, check `Themsaid\Forge\Exceptions\ValidationException@errors()`

[2018-11-26 17:58] #47 closed

[2018-11-26 17:58] #48 closed

[2018-11-27 21:04] barryvdh commented on #49
There is only action now: `reboot`. But you can't `shutdown` and `boot` droplets/servers, right?
For example in AWS, you don't pay for an instance that is shut down, so could be preferred to shut something down when it's not needed, and boot it when extra capacity is preferred.

[2018-11-27 21:06] barryvdh commented on #49
So basically:

https://developers.linode.com/api/v4#operation/bootLinodeInstance
https://developers.linode.com/api/v4#operation/shutdownLinodeInstance

https://developers.digitalocean.com/documentation/v2/#power-on-a-droplet
https://developers.digitalocean.com/documentation/v2/#shutdown-a-droplet

https://docs.aws.amazon.com/cli/latest/reference/ec2/start-instances.html
https://docs.aws.amazon.com

[2019-01-22 14:24] mflavius opened #53 "How to get list of Forge Webhooks"
There are options in the forge API to make a get request and get a list of webhooks on a website, but its not in your SDK, is there a particular reason for this? Would be useful if it were implemented for sure

https://forge.laravel.com/api-documentation#webhooks

[2019-01-22 14:42] #53 closed

[2019-01-23 19:40] gerciljunio commented on #27
@themsaid I am still experiencing this problem in the latest version, the error involves several problems, however, I have already increased the capacity of fastcgi, I have already made several modifications in nginx, I have already increased the memory of the server and continues the same problem. unhappy, I do not know what else to do! lol. if you have any suggestion I'm grateful...

error in ng

[2019-01-24 06:35] themsaid commented on #27
@gerciljunio I'm not sure it's the same issue, can you please share more details? Or maybe open a new issue.

[2019-01-24 12:03] gerciljunio commented on #27
@themsaid is the same problem, 502 bad gateway and really like the @acacha said, it's happening in:

[code]

this morning, I solved the problem, leaving `$wait = false` and creating a queue which creates the site using the "createSite" method and then checks if the site has already been created and everything is ok using the "site" method and continues the process after the verification completed

[2019-02-15 11:07] Christophvh opened #54 "[SUGGESTION] CLI options"
Would be nice to have command line calls so we could include some forge-commands in an automated docker/ci setup for example.

There are a couple of options available like: https://github.com/svenluijten/forge-cli
But I think this is useful enough to be included in the API.

[2019-03-12 18:03] KevinBatdorf opened #55 "Undefined index: provision_command"
[code]

I'm getting this error with `createServer()`

https://github.com/themsaid/forge-sdk/blob/2.0/src/Actions/ManagesServers.php#L38

[2019-03-12 19:38] KevinBatdorf opened #56 "Update createSite return"
I'll check this out and see if a PR is needed, but at first look it feel like the return inside the `$wait` conditional needs to be a `Site` object and not just return `$site`
[code]

[2019-03-12 21:37] KevinBatdorf commented on #56
Nevermind, I see site is refreshed with `$site = $this->site($serverId, $site['id']);`

[2019-03-12 21:37] #56 closed

[2019-03-20 08:57] DougThwaites opened #58 "The server provider was unable to create your server (Digital Ocean provider.)"
When creating a new server on Digital Ocean.

[2019-03-20 09:05] DougThwaites commented on #58
If you are a new user to Digital Ocean this can be caused by if you have not yet added billing details to your Digital Ocean account.

Alternatively Digital Ocean have an initial droplet limit of 10 which you may have hit in which case just flick Digital Ocean a support ticket.

In my case however the issue was with the 'size' value I was posting to Forge. In the Forge API doc's and this SDK's rea

[2019-03-20 09:05] #58 closed

[2019-03-20 09:14] ChristianGiupponi opened #59 "ErrorException : Illegal string offset 'site'"
[code]

[2019-04-04 10:07] tim-peterson commented on #49
@barryvdh thanks. So is this the workflow?

1. Stop server using AWS, Linode, or DigOcean API.
2. Start server using AWS, Linode, or DigOcean API.
3. Reboot server using Forge API

How does Forge know the new IP address if the stopping and starting changes it?

[2019-04-04 10:09] barryvdh commented on #49
For load-balanced servers, you only need the internal IP, right? And workers also don't need public IPs

[2019-04-04 10:24] tim-peterson commented on #49
Regardless the changed IP is metadata Forge needs, right?

Did you solve this problem for yourself? If so, would you mind sharing pseudo-code to help explain what works?

[2019-04-04 10:54] barryvdh commented on #49
Not yet, sorry. I think for scaling workload in workers/queue, I'm going for the Serverless route (waiting for Laracon for that ;) )

For webservers I'm not sure yet. I think it  it would be something like this:
 - Start (pre-configured) server
 - Trigger deployment to server to match current state of other servers
 - Health check
 - Enable load balancing to that server with Forge API
Scaling down

[2019-08-16 06:20] bstump opened #62 "Add Webhook Management"
Add webhook management to the package.

[2019-09-20 11:06] svenluijten commented on #54
I'm not sure how you'd like to see this implemented in the SDK / API?

[2019-09-20 16:12] Christophvh commented on #54
I missed that your package was a global-package I confused it for an install in a project, which was not my use-case, but your package solves the problem !

[2019-09-20 16:12] #54 closed

[2020-03-21 09:10] itorgov commented on #59
@ChristianGiupponi how did you make a request? It seems that you didn't set a server id and sent wrong data params.

[2020-05-17 17:42] kingashok29 opened #70 "\Themsaid\Forge\Forge class not found, on production"
Unable to create the database on a live server.

`namespace App\Jobs;
use Themsaid\Forge\Forge;

            $forge = new \Themsaid\Forge\Forge(config('app.forge_access_token'));
            $databaseCreated = $forge->createMysqlDatabase(
                config('app.forge_server_id'), array('name' => 'test_1234'), $wait = true
            );

Error: Class 'Themsaid\Forge\Forge' not found in /home/

[2020-05-17 17:55] #70 closed

[2020-06-12 08:34] AhsanAbrar opened #71 "CacheRemember Issue"
Hi,

i want to store data in cache to avoid hit everytime to the server API

[code]

I'm getting this error

any solution you have?

regards

[2020-06-16 15:29] tfevens commented on #62
Requested functionality added in b897e959ed63cf4f115fffb39105b4f7502c0304

This can be closed.

[2020-06-19 16:08] masterix21 opened #72 "Error using createBackupConfiguration"
I'm using the SDK to create a database backup configuration, and it returns no data because of an error. However, the configuration backup is created on Forge Panel.

[code]

Any idea?

[2020-07-15 09:53] ashpuk opened #74 "PHP Reboot"
Hi,

it seems that forge have updated their API with regards to restarting PHP. You now need to include the Version of PHP that you want to restart (as forge servers can now handle multiple versions of PHP on the same server).

If you do not provide the PHP version then you get a validation error when trying the API request.

Can you please update the SDK so that it supports this.

Thanks :)

[2020-08-14 16:20] driesvints commented on #72
Fixed on master

[2020-08-14 16:20] #72 closed

[2020-08-14 16:22] driesvints commented on #71
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-08-14 16:22] #71 closed

[2020-08-14 16:22] #62 closed

[2020-08-14 16:22] #59 closed

[2020-08-14 16:23] #55 closed

[2020-08-14 16:24] driesvints commented on #46
Yes that seems a good idea. I think these can live in the root namespace, not helpers. Feel free to PR.

[2020-08-14 16:24] #46 closed

[2020-08-14 16:25] driesvints commented on #49
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2020-08-14 16:25] #49 closed

[2020-08-15 14:38] VictorAvelar commented on #46
PR comming anytime soon 😄, thanks for replying.

[2020-08-17 09:48] jbrooksuk commented on #74
Thanks, this is now on `master`.

[2020-08-17 09:48] #74 closed

[2020-08-17 12:54] masterix21 commented on #72
Thank you

[2020-09-18 20:46] kiogo opened #97 "Add site to load balancer failing"
- Forge SDK Version: 3.1.0
- Laravel Version: 8.3
- PHP Version: 7.4
- Database Driver & Version:

### Description:
Updated to 3.1.0 and am now receiving "The given data failed to pass validation." when using updateNodeBalancingConfiguration()

Was working previously under version 2.2

### Steps To Reproduce:
[code]

[2020-09-18 21:03] #97 closed

[2020-09-18 21:15] kiogo commented on #97
Issue was the data formatting, on version 2.2 I just passed the server id's.

[2020-11-17 11:00] dees040 opened #99 "Unsupported operand types when installing a git repo without waiting"
- Forge SDK Version: 3.3.0
- Laravel Version: 8.14.0
- PHP Version: 7.4.11
- Database Driver & Version: mysql version 8.0.21

### Description:

When executing the `installGitRepositoryOnSite()` method and setting the `$wait` parameter to false the following error is thrown: `Unsupported operand types`. Thrown in: `src/Actions/ManagesSites.php` line 188.

The problem is that `POST /api/v1/servers/{

[2020-11-17 11:56] #99 closed

[2020-11-17 11:57] jbrooksuk commented on #99
Thanks for reporting this @dees040. We have fixed this issue within Forge itself by returning the Site data in the response.

[2020-11-23 15:30] metti-himself opened #100 "Create custom VPS via API"
Hello,

I used laravel/forge-sdk 3.3, for this pretty simple creation script:

$forge = new Laravel\Forge\Forge($API_TOKEN);

$server = $forge->createServer([
        "provider"=> "custom",
        "name"=> "xxx",
        "ip_address"=> "x.x.x.x",
        "private_ip_address"=> "x.x.x.x",
        "php_version"=> "php74"
]);
?>

As Response I simply get this:

PHP Fatal error:  Uncaught Laravel\For

[2020-11-23 15:31] driesvints commented on #100
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-23 15:31] #100 closed

[2021-02-08 19:14] stubbo opened #103 "Cant set notifications for site deployments"
- Forge SDK Version: 3.3.1
- Laravel Version: 8.5.9
- PHP Version: 7.4

### Description:
Can't add use `enableHipchatNotifications` method and no methods/properties for other webhooks like Discord and Teams.
When using the HipChat method there is a `The resource you are looking for could not be found.` response.

### Steps To Reproduce:
[code]

I might be setting the data incorrectly but there is

[2021-02-08 19:33] jbrooksuk commented on #103
The HipChat service is no longer running. These methods will be removed in the next version of the package, with other notifications added in its place.

[2021-02-08 19:38] driesvints commented on #103
I'll keep this issue to remind us to remove them. I'll send in a PR to master when I get around for it.

[2021-02-15 10:32] dees040 opened #105 "Seems like Forge overrides environment configuration after site has been installed"
- Forge SDK Version: 3.3.0
- Laravel Version: 8.14.0
- PHP Version: 8.0.1
- Database Driver & Version: mysql  Ver 8.0.21 for macos10.15 on x86_64

### Description:

I’m automatically creating a site (`createSite()`), installing git (`installGitRepository()`), creating a database (`createDatabase()`) and setting all the environment variables (`updateSiteEnvironmentFile()`). I perform the API reques

[2021-02-15 10:33] dees040 commented on #105
Sorry, accidentally pressed enter.. my bad..

[2021-02-15 11:10] dees040 commented on #105
@driesvints I've updated the title and description

[2021-02-15 11:58] jbrooksuk commented on #105
@dees040 thanks for reporting this.

You're right in your thinking that Forge will automatically create a default `.env` file once it's finished installing the Git repository. We actually copy the `.env.example` file if it exists and update some of the settings there if possible.

It's not possible to write the Environment file before the project is installed.

Does this clarify things?

[2021-02-15 12:48] jbrooksuk commented on #105
1. Yes, you should wait for the `repository_status` to be set to `installed` before you can manage the Environment yourself.
2. Any existing `.env` file will be overwritten.

[2021-02-15 13:36] #105 closed

[2021-03-15 12:56] MatanYadaev opened #109 "TimeoutException::__construct(): Argument #1 ($output) must be of type array, null given"
- Forge SDK Version: 3.4.0
- Laravel Version: 8.32.1
- PHP Version: 8.0.2
- Database Driver & Version: MySQL 8.0

### Description:

When running `$site->deploySite()` it throws this exception:
[code]

### Steps To Reproduce:

[code]

[2021-03-15 14:28] jbrooksuk commented on #109
@MatanYadaev I'm looking into this now, but you probably do want to call `deploySite(false)` instead, which will make an asynchronous deployment.

Regardless, I'm looking into what's causing the exception.

[2021-03-15 15:46] #109 closed

[2021-03-22 17:39] #103 closed

[2021-04-14 23:43] edwinencomienda opened #113 "Support for new feature commands"
![image](https://user-images.githubusercontent.com/26597108/114794022-3399da00-9dbe-11eb-96c7-c8c683930338.png)

[2021-04-15 07:51] driesvints commented on #113
We'll add these when we find the time.

[2021-04-15 07:51] #113 closed

[2021-04-15 08:00] edwinencomienda commented on #113
is this available in the api endpoints @driesvints ?

[2021-04-15 08:00] driesvints commented on #113
Ping @jbrooksuk

[2021-04-15 11:00] tfevens commented on #113
Based on the reply to my tweet after release, it's not yet available in the API, but is planned to be added at some point.
https://twitter.com/jbrooksuk/status/1376910494754299908

[2021-04-15 15:30] jbrooksuk commented on #113
We don't have any API endpoints at the moment, but it's on our list 👍

We've recently implemented several features with no API endpoints as we're wanting to ensure the feature works as expected first.

[2021-04-15 21:17] edwinencomienda commented on #113
that make sense @jbrooksuk  thanks!

[2021-05-24 17:33] s7thamon opened #119 "Backup Configurations Update"
According to docs there's no way to update the databases selected in an existing Backup Configuration? There's an option in the web gui to do this, at least with Provider set as Custom (S3 Compatible). You can edit and include additional databases.

This would be great to have for automated provisioning scripts.

[2021-05-25 13:32] jbrooksuk commented on #119
It is possible to update the databases within a backup configuration now, so I've updated the documentation to reflect this.

The SDK can now be updated to do this.

[2021-05-25 19:31] #119 closed

[2021-05-26 19:18] s7thamon commented on #119
I ran `$forge->updateBackupConfiguration` with the existing ID and database list and it wiped out the fields that were not entered such as endpoint, bucket, etc. No errors were returned. On the Web GUI they were all empty and now unable to enter them back in:

![image](https://user-images.githubusercontent.com/66268528/119718381-7f1bbb00-be35-11eb-9a44-b56d1f0fc103.png)

[2021-05-26 19:49] s7thamon commented on #119
I noticed when using `$forge->updateBackupConfiguration` and only specifying the ID and Databases in the data array, it wiped out all of the other information in the GUI such as the endpoint, bucket, keys, etc.

Editing them in the GUI after threw errors despite fields being entered. I had to delete the configuration and re-create it.

The SDK did not throw any errors at the time.

![image](https:

[2021-07-29 18:19] darkons opened #122 "Clear site aliases"
- Forge SDK Version: 3.8.0
- Laravel Version: 8.47.0
- PHP Version: 8.0
- Database Driver & Version: MySQL 8.0

### Description:
When a site has only one alias and update that site with empty aliases array that last alias is not removed.

### Steps To Reproduce:

- Create a site.
- Add one alias.
- Update site with empty aliases array.

[2021-07-29 19:09] tfevens commented on #122
**NOTE**: This looks like an issue with the API itself, not the SDK.  Can replicate the behavior using straight API calls.

Seems that the ability to add/remove aliases from the API is not working.

I can send the following payload:
[code]
which results in a 200 response, but the old aliases are still present:
[code]

[2021-07-30 00:56] tfevens commented on #122
I went back and re-read the documentation, and my original understanding of it was incorrect.

Currently, the API only supports ADDING aliases, not DELETING.  Per the documentation:
`Use this endpoint to add additional site aliases...`

Submitting an empty array of aliases will have no effect, as you're just telling forge "Add nothing to the aliases."

As it stands, this is working as intended.  P

[2021-07-30 10:55] driesvints commented on #122
Feel free to send in a pr, thanks.

[2021-07-30 10:55] #122 closed

[2021-07-30 10:58] tfevens commented on #122
We can't send in a PR for a function of the API.  It's the API that's not removing the aliases, not just the SDK.

[2021-07-31 16:36] joshevensen commented on #58
I just got this error and found out that it was because I was trying to add a droplet to a region that DigitalOcean says is unavailable. The error from the SDK doesn't let you know this, but I decided to recreate everything via the GUI and got a more helpful error there saying the region is unavailable.

Just wanted to let others know in case they find this issue and have the same problem.

[2021-08-12 05:55] David-Grass-Feria opened #124 "API Request works perfect from Localhost, but not from Forge"
- Forge SDK Version: 3.8.0
- Laravel Version: 8.53.0
- PHP Version: 8.0
- Database Driver & Version:mysql

I send a api request from localhost to forge. It works create, your package create the site, ssl, gitrepo..All works!!
But this works only on localhost. If i make this from a real site on forge, i get only 1 error:
"502 Bad Gateway Nginx". This error is not a part from the api documentation.

[2021-08-12 05:57] driesvints commented on #124
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-08-12 05:57] #124 closed

[2021-08-12 18:26] aromerowingsoft opened #125 "Update FPM Pool configuration"
The FPM Pool can be updated from the forge web interface, and this option must be available in the SDK.

[2021-08-12 22:06] driesvints commented on #125
No plans right now for this.

[2021-08-12 22:06] #125 closed

[2021-10-22 04:55] basiltap opened #130 "Http Client error in forge, not in local"
- Forge SDK Version: #.#.#
- Laravel Version: 8.66.0
- PHP Version: 7.4.23
- Database Driver & Version:
- "guzzlehttp/guzzle": "^7.0.1"

### Description:
Making a call to a wordpress api, I receive an error wich I didn't received in local development:
Handled error
Illuminate\Http\Client\ConnectionException: cURL error 35: error:14094458:SSL routines:ssl3_read_bytes:tlsv1 unrecognized name

It is

[2021-11-19 13:23] ghena opened #132 "CreateSite api isolation=true goes on 502 error"
- Forge SDK Version:    "laravel/forge-sdk": "^3.9"
- Laravel Version:      "laravel/framework": "^8.0",
- PHP Version: 7.4
- Database Driver & Version:N.A

### Description:
Create Site

### Steps To Reproduce:

[2021-11-19 15:10] jbrooksuk commented on #132
You also need to pass through a `username` when the site is isolated. We're going to deploy a fix for this validation here.

Can you email forge@laravel.com and include the server and site ID, please?

[2021-11-19 15:47] ghena commented on #132
I sent already  a ticket to forge.

[2021-11-19 15:55] jbrooksuk commented on #132
You can set the username to whatever anything **except**:

- forge
- root
- www-data
- mysql
- redis
- backup
- admin
- nobody
- isolated

[2021-11-19 16:00] tfevens commented on #132
I've not been able to recreate the issue experienced. Issuing the command from the SDK is resulting in the site being created, and data returned properly.

[code]
returns

[code]

It seems that if `username` is left off the request, that a default of `forge` is used to create the site anyway.

[2021-11-19 22:09] ghena commented on #132
yes but the website goes on error or not ?

[2021-11-19 22:09] ghena commented on #132
however , using username seems to work.

[2021-11-20 01:34] tfevens commented on #132
@ghena I did not get an error when `username` was left empty.

[2021-11-20 08:47] ghena commented on #132
have you tried using a subdomain ?

[2021-11-21 02:47] tfevens commented on #132
I hadn't, but just tried it - worked without error again.

[code]
gives
[code]

It's possible that the Forge team deployed a fix already, but as long as you can get it working, that's the main thing!

[2022-01-12 14:01] thetispro commented on #122
You can delete aliases using Update Site: $forge->updateSite($serverId, $siteId, array $data);

See https://forge.laravel.com/api-documentation#update-site

hth

[2022-03-09 21:36] ghena opened #139 "Specify collation on database creation"
Hi,
in docs I can't found a way to create a database using api with specific collation.
There is a way to do this  ?
if not maybe can be improved.
regards.

[2022-03-14 09:47] jbrooksuk commented on #139
@ghena it's not currently possible to specify the collation of a database in Forge. Everything is created as `utf8_unicode_ci`.

[2022-03-14 09:52] #139 closed, assigned to nobody

[2022-03-14 09:52] driesvints commented on #139
We'll add this to our internal backlog to maybe pick up at some point. Thanks!

[2022-05-11 22:28] crishoj opened #141 "Expose API endpoints for managing PHP versions"
The following API endpoints seem to require a valid CSRF token:
- `PUT /servers/{id}/php/cli`
- `PUT /servers/{id}/php/default`
- `DELETE /servers/{id}/php`

Could they be made available for programmatic use, i.e. without CSRF tokens?

[2022-05-12 09:20] jbrooksuk commented on #141
These are internal Forge endpoints, not public to the API. We can look at adding additional API endpoints for this though.

[2022-05-12 09:43] driesvints commented on #141
Thanks @jbrooksuk

[2022-05-12 09:43] #141 closed, assigned to jbrooksuk

[2022-05-12 10:20] crishoj commented on #141
That would be useful!

[2022-05-26 14:40] nsinisterra opened #142 "retry method in MakesHttpRequests is sending boolean values to TimeoutException"
- Forge SDK Version: 3.13.0
- Laravel Version: 7.30.6
- PHP Version: 7.3.33
- Database Driver & Version: MySQL 5.7

### Description:
When retry method is used (Like in [installCertificate](https://github.com/laravel/forge-sdk/blob/master/src/Actions/ManagesCertificates.php#L109), [activateCertificate](https://github.com/laravel/forge-sdk/blob/master/src/Actions/ManagesCertificates.php#L131), etc)

[2022-05-31 02:28] timacdonald commented on #142
I've created a PR to address this issue: https://github.com/laravel/forge-sdk/pull/143

[2022-05-31 15:30] #142 closed, assigned to jbrooksuk, nunomaduro

[2022-07-21 10:38] alexandre-tobia opened #145 "Call to a member function request() on null"
- Forge SDK Version: #.#.#
- Laravel Version: 9.21.3
- PHP Version: 8.1.5
- Database Driver & Version: Server version: 10.5.9-MariaDB Homebrew

### Description:
When trying to find a server (or anything else) i've this error (on my local):

![Capture d’écran 2022-07-21 à 12 36 03](https://user-images.githubusercontent.com/5537783/180194179-01e4111f-c9f5-4b7e-9b34-aa40f66730c4.jpg)

### Steps To

[2022-07-21 10:40] driesvints commented on #145
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-07-21 10:40] #145 closed, assigned to nobody

[2022-08-31 15:47] richardhedges opened #147 "Undefined array key "provision_command""
- Forge SDK Version: 3.13
- Laravel Version: 9.19
- PHP Version: 8.1.9

### Description:
PHP Warning:  Undefined array key "provision_command" in /Users/richardhedges/Sites/hubv2/vendor/laravel/forge-sdk/src/Actions/ManagesServers.php on line 49

### Steps To Reproduce:
Run the `createServer` method, as in the example in the docs.

[2022-09-02 08:52] jbrooksuk commented on #147
@richardhedges can you please provide the code you were using to provision a server with? The `provision_command` key is only available for custom servers.

[2022-09-05 14:15] driesvints commented on #147
Feel free to respond with the above info and we'll reopen

[2022-09-05 14:15] #147 closed, assigned to jbrooksuk

[2022-09-26 05:58] kevariable opened #148 "Managing Create Database User"
- Forge SDK Version: 3.13.1
- Laravel Version: ^8.83
- PHP Version: v8.0.16
- Database Driver & Version: mysql  Ver 8.0.23 for Linux on x86_64 (MySQL Community Server - GPL)

### Description:

i try to use this sdk and passing data like in documentation but i got validation errors

[code]

errors

[code]

in docs like this

[code]

i really appreciate your help thanks

[2022-09-26 06:14] #148 closed, assigned to nobody

[2022-09-26 06:14] kevariable commented on #148
name is greater than 16 character, my bad